.wrapper {
  width: 100%;
  margin: auto;
  box-sizing: border-box;
}

.inputitem {
  width: inherit;
  margin: auto;
  height: 40px;
}

.btnbox {
  width: 100%;
  display: flex;
  justify-content: center;
}

.contsel {
  width: calc(50% - 10px);
  height: 35px;
  border: solid 1px rgb(15, 193, 238);
  border-radius: 5px;
  margin-top: 10px;
  margin-left: 10px;
  outline: none;
}

.contsel:focus {
  box-shadow: 0 0 0 2px #88b8ff;
}
